@model IEnumerable<Witcher.Beastiary.Core.Models.MonsterModel>
@{
}
<h1> Hello World!</h1>

<a class="btn-sm btn-outline-primary" asp-controller="Beast" asp-action="Create">Add Beast</a>

<table class="table table-striped">
    @foreach (var beast in Model)
    {
    <tr>
        <td><a asp-controller="Beast" asp-action="Index" asp-route-id="@beast.Id">@beast.Name</a></td>
        <td>@beast.Location</td>
    </tr>
    }
    
</table>