@model IEnumerable<Witcher.Beastiary.Core.Models.MonsterModel>
@{
}
<h1> Hello World!</h1>

<a class="btn btn-sm btn-outline-primary" asp-controller="Beast" asp-action="Create">Add Beast</a>
<br />
<br />

<div class="row">
    @foreach (var beast in Model)
    {
        <div class="card w-50">
            <div class="card-body">
                <h3><a asp-controller="Beast" asp-action="Index" asp-route-id="@beast.Id">@beast.Name</a></h3>
                <h6>@beast.Location</h6>
            </div>
        </div>
    }

</div>